@page
@model Crisis.Pages.Calls.DetailsModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Call</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Call.Creator)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Call.Creator)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Call.CreateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Call.CreateDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Call.Contact)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Call.Contact)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Call.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Call.Body)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Call.CallResponse)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Call.CallResponse.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Call.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Call.Supplier.Creator)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Call.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
</body>
</html>
